.statusbar {
    position: absolute;
    left: 5px;
    bottom: 5px;
    padding: 5px;
    color: #222;
    font-size: 10px;
    background-color: #fff;
    border-radius: 5px;
    font-family: monospace;
    text-transform: uppercase;
}